$form_break_offset: 200px;

.fc-form {
  .frm_fields_container {
    display: flex;
    position: relative;
    .frm_form_field {
      margin-bottom: 13px;
    }
    @media (max-width: calc($xsmall-width + $form_break_offset)) {
      flex-direction: column;
    }
  }
  .frm_button_submit {
    padding: 6px 20px;
    background-color: #979797;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    border-radius: 3px;
    border: 1px solid #979797;
    text-decoration: none;
    transition: all 0.2s ease;
    color: #fff;
    text-align: center;
    float: right;
    margin-top: 20px;
    cursor: pointer;
    &:hover {
      color: #979797;
      background-color: #fff;
      transition: all 0.2s ease;
    }
  }
  .narrow-container {
    max-width: 680px;
    margin: 0 auto 40px;
    @media (max-width: $large-width) {
      max-width: 100%;
      padding: 0 10.5%;
    }
    @media (max-width: $medium-width) {
      padding: 0 20px;
    }
    p {
      line-height: 28px;
      &.section-callout {
        font-size: 34px;
        line-height: 41px;
        font-weight: 300;
        border-top: 1px solid #979797;
        border-bottom: 1px solid #979797;
        padding: 15px 0;
        text-align: center;
        margin: 41px 0 33px;
        letter-spacing: -1px;
      }
    }
    img {
      margin-bottom: 25px;
    }
    strong {
      font-weight: 700;
    }
  }
  .icon-circle {
    width: 190px;
    height: 190px;
    display: flex;
    margin-left: 72px;
    border-radius: 50%;
    background-color: #ededed;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 36px;
    @media (max-width: $medium-width) {
      margin: 0 auto 36px;
    }

    .contact-icon {
      width: 96px;
      height: 76px;
    }
  }
  p {
    color: #999999;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 16px;
  }
  form {
    display: flex;
    @media (max-width: $medium-width) {
      flex-direction: column;
    }
    .input-wrapper {
      margin-bottom: 13px;
      position: relative;
    }
    label {
      font-size: 17px;
      line-height: 28px;
      font-weight: 700;
      display: block;
    }
    input,
    textarea {
      box-sizing: border-box;
      width: 100%;
      padding: 16px 20px;
      border-radius: 20px;
      background-color: #ededed;
      border: 0;
      color: #000;
      &::placeholder {
        font-size: 12px;
        line-height: 16px;
        color: #999999;
      }
    }
    textarea {
      height: 212px;
    }
  }
  .left-side,
  .right-side {
    width: 50%;
    box-sizing: border-box;
    @media (max-width: $medium-width) {
      width: 100%;
    }
  }
  .left-side {
    padding-right: 10px;
    @media (max-width: $medium-width) {
      padding-right: 5px;
    }
  }
  .right-side {
    padding-left: 25px;
    @media (max-width: $medium-width) {
      padding-left: 5px;
    }
    .input-wrapper {
      margin-bottom: 20px;
    }
  }
  .left-side,
  .right-side {
    max-width: 416px;
    margin: auto;
    @media (max-width: calc($xsmall-width + $form_break_offset)) {
      padding-right: 0;
      padding-left: 0;
    }
  }
  .form-instagram {
    position: relative;
    &:before {
      content: "";
      width: 40px;
      height: 40px;
      position: absolute;
      left: 0;
      bottom: 0;
      background: url("../img/form-instagram.svg") center no-repeat;
      background-size: contain;
    }
    input {
      margin-left: 50px;
      width: calc(100% - 50px);
    }
  }
  .form-facebook {
    position: relative;
    &:before {
      content: "";
      width: 40px;
      height: 40px;
      position: absolute;
      left: 0;
      bottom: 0;
      background: url("../img/form-facebook.svg") center no-repeat;
      background-size: contain;
    }
    input {
      margin-left: 50px;
      width: calc(100% - 50px);
    }
  }
  .form-twitter {
    position: relative;
    &:before {
      content: "";
      width: 40px;
      height: 40px;
      position: absolute;
      left: 0;
      bottom: 0;
      background: url("../img/form-twitter.svg") center no-repeat;
      background-size: contain;
    }
    input {
      margin-left: 50px;
      width: calc(100% - 50px);
    }
  }
  .form-pinterest {
    position: relative;
    &:before {
      content: "";
      width: 40px;
      height: 40px;
      position: absolute;
      left: 0;
      bottom: 0;
      background: url("../img/form-pinterest.svg") center no-repeat;
      background-size: contain;
    }
    input {
      margin-left: 50px;
      width: calc(100% - 50px);
    }
  }
}
