/* styling for the hero block goes in here */
.fc-hero {
  padding: 9.7% 0 6.5%;
  margin-bottom: 64px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-family: $fnt_mont;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  &.my-faith-heading {
    @media (max-width: $medium-width) {
      height: auto;
      .hero-upper-text {
        width: fit-content;
        margin: auto;
      }
    }
    .hero-title {
      width: fit-content;
    }
  }
  &:first-of-type {
    padding: 8.7% 0;
    @media (min-width: $full-width-up) {
      padding: 125px 0;
    }
    @media (max-width: $medium-width) {
      padding: 30px 0 0;
    }
  }
  &.my-faith-heading {
    padding: 8.7% 0 0;
    @media (min-width: $full-width-up) {
      padding: 125px 0 0;
    }
    @media (max-width: $medium-width) {
      padding: 30px 0 0;
    }
  }
  @media (min-width: $full-width-up) {
    padding: 139px 0 93px;
  }
  @media (max-width: $full-width) {
    margin-bottom: 4vw;
  }
  @media (max-width: $medium-width) {
    height: 440px;
    padding: 25px 0;
    box-sizing: border-box;
  }
  @media (max-width: $xsmall-width) {
    margin-bottom: 16px;
  }
  &.text-right {
    text-align: right;
    p {
      float: right;
    }
    @media (max-width: $medium-width) {
      text-align: center;
      p {
        display: none;
      }
    }
    .container {
      padding: 0 8.5%;
      @media (min-width: $full-width-up) {
        padding: 0 122px;
      }
      @media (max-width: $large-width) {
        padding: 0 10.5%;
      }
      @media (max-width: $medium-width) {
        padding: 0 10px;
        position: absolute;
        width: 100%;
        bottom: 25px;
      }
    }
  }
  &.text-left {
    text-align: left;
    p {
      float: none;
    }
    @media (max-width: $medium-width) {
      text-align: center;
      p {
        display: none;
      }
    }
    .container {
      padding: 0 7%;
      @media (max-width: $large-width) {
        padding: 0 10.5%;
      }
      @media (max-width: $medium-width) {
        padding: 0 10px;
        position: absolute;
        width: 100%;
        bottom: 25px;
      }
    }
  }
  &.text-center {
    text-align: center;
    p {
      float: none;
      margin-left: auto;
      margin-right: auto;
      @media (max-width: $medium-width) {
        display: none;
      }
    }
    .container {
      padding: 0 7%;
      @media (max-width: $large-width) {
        padding: 0 10.5%;
      }
      @media (max-width: $medium-width) {
        padding: 0 10px;
        position: absolute;
        width: 100%;
        bottom: 25px;
      }
    }
  }
  &.no-image,
  &.image-front {
    @media (max-width: $medium-width) {
      height: auto;
    }
    .container {
      display: flex;
      @media (max-width: $medium-width) {
        position: static;
      }
    }
    .hero-text-side {
      width: 100%;
      box-sizing: border-box;
    }
    p {
      @media (max-width: $medium-width) {
        display: block;
        text-align: left;
        margin: 0 auto;
      }
    }
    .hero-image-side {
      width: 61%;
      box-sizing: border-box;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
    &.wider {
      padding: 4.5% 0 0%;
      @media (max-width: $medium-width) {
        padding: 4.5% 0 30px;
      }
      .container {
        padding: 0 10.5%;
        @media (max-width: $medium-width) {
          padding: 0 20px;
        }
      }
      p {
        max-width: 680px;
        line-height: 28px;
      }
      .hero-title {
        margin-bottom: 19px;
      }
    }
  }
  &.no-image {
    padding: 72px 0 0;
    @media (max-width: $full-width) {
      padding-top: 5vw;
    }
    .container {
      flex-direction: column;
    }
    .hero-text-side {
      max-width: 540px;
      margin-top: 52px;
      @media (max-width: $medium-width) {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
      }
      p {
        margin-bottom: 26px;
      }
    }
  }
  &.image-front {
    padding: 72px 0 30px;
    .hero-upper-text,
    .hero-title {
      @media (max-width: $medium-width) {
        text-align: center;
      }
    }
    @media (max-width: $full-width) {
      padding-top: 5vw;
    }
    .hero-text-side {
      width: 39%;
      margin-top: 52px;
      @media (max-width: $large-width) {
        margin-top: 0;
      }
      @media (min-width: $medium-width-up) {
        min-height: 510px;
      }
      @media (max-width: $medium-width) {
        width: 100%;
      }
      p {
        margin-bottom: 26px;
      }
    }
    .hero-image-side {
      &::before {
        content: "";
        display: block;
        padding-top: 64%;
        height: 0;
      }
      @media (min-width: $medium-width-up) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0px;
      }
      @media (max-width: $medium-width) {
        width: auto;
        max-width: 450px;
        position: static;
        margin: 0 auto 25px;
      }
    }
    .container {
      padding: 0px 10.5%;
      @media (min-width: $full-width-up) {
        padding-left: 151px;
        padding-right: 151px;
      }
    }
  }
  &.overlay-green,
  &.overlay-red {
    color: #fff;
  }
  &.overlay-white {
    color: #000;
  }
  .hero-overlay-vertical,
  .hero-overlay-horizontal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .hero-upper-text {
    font-weight: 500;
  }
  .hero-title {
    font-size: 72px;
    font-weight: 700;
    line-height: 82px;
    margin-bottom: 18px;
    letter-spacing: 0.02em;
    span {
      font-size: 36px;
    }
    @media (max-width: $large-width) {
      font-size: 7.208vw;
      line-height: 8.2vw;
      margin-bottom: 2.17%;
    }
    @media (max-width: $medium-width) {
      font-size: 7vw;
      line-height: 8vw;
      max-width: 58.75vw;
      margin: 1vw auto 3.25vw;
    }
    @media (max-width: $xsmall-width) {
      font-size: 28px;
      line-height: 32px;
      max-width: 235px;
      margin: 4px auto 13px;
    }
  }
  p {
    max-width: 450px;
    @media (max-width: $large-width) {
      margin-bottom: 3.13%;
    }
  }
  .btn-orange {
    background-color: #cb5d46;
    color: #fff;
    padding: 7px 21px;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    border-radius: 3px;
    /*box-shadow:5px 5px 5px rgba(0,0,0,.25);*/
    border: 1px solid #cb5d46;
    text-decoration: none;
    transition: all 0.2s ease;
    display: inline-block;
    @media (max-width: $medium-width) {
      font-size: 16px;
    }
    @media (max-width: $medium-width) {
      font-size: 17px;
    }
    &:hover {
      color: #cb5d46;
      background-color: #fff;
      transition: all 0.2s ease;
    }
  }
  .btn-link {
    color: #000;
    text-decoration: underline;
    transition: all 0.2s ease;
    &:hover {
      transition: all 0.2s ease;
      text-decoration: none;
    }
  }
  &.wide-text-hero {
    padding: 8.7% 0 16.5%;
    .hero-title {
      margin-bottom: 0;
    }
    p {
      max-width: 675px;
    }
    @media (max-width: $medium-width) {
      text-align: left;
      .hero-title {
        text-align: center;
        font-size: 56px;
        line-height: 54px;
        max-width: 250px;
        margin-bottom: 15px;
        span {
          font-size: 56px;
          line-height: 54px;
        }
      }
      p {
        display: block;
      }
      .container {
        padding: 0px 20px;
      }
    }
  }
}
