#video-player {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;

  @media (max-width: $medium-width) {
    padding: 0;
  }
}
.iframe-wrapper {
  position: relative;
  width: 1180px;
  max-height: 100vh;
  margin: 0 auto;

  @media (max-width: 1376px) {
    width: calc(100vw - 196px);
  }
  @media (max-width: $medium-width) {
    width: 100vw;
  }
  iframe {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  &::before {
    content: "";
    display: block;
    padding-top: 56.25%;
    height: 0;
  }
}
