/* Contains all of the variables for the site, colors and font definitions should be put here so they
  are used on both editor side and full site side */

$full-width-up: 1441px;
$full-width: 1440px;
$large-width-up: 1001px;
$large-width: 1000px;
$medium-width-up: 751px;
$medium-width: 750px;
$small-width-up: 651px;
$small-width: 650px;
$xsmall-width-up: 401px;
$xsmall-width: 400px;
