/* this is for the editor styling of blocks. Any styling that isn't specific
  to a block should be imported here. All block-specific styling should be included
  in the _blocks.scss file. Most likely, very little changes, if any, need to be
  made to this file. */

/* block and non-block styling */

/* Contains all of the variables for the site, colors and font definitions should be put here so they
  are used on both editor side and full site side */

/* font imports here */

strong,
.strong {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
  box-sizing: border-box;
  padding: 0 40px
}

@media (max-width: 1000px) {

.container {
    padding: 0 3.912vw
}
  }

@media (max-width: 750px) {

.container {
    padding: 0 2vw
}
  }

@media (max-width: 400px) {

.container {
    padding: 0 10px
}
  }

@media (max-width: 750px) {
    .container.small-no-pad {
      padding: 0;
    }
  }

.container.twelvefifty {
    padding: 0 10%
  }

@media (max-width: 750px) {

.container.twelvefifty {
      padding: 0 20px
  }
    }

.container.thirteenseventyfive {
    max-width: 1375px;
  }

.container.fixed-container {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999
  }

@media (max-width: 750px) {

.container.fixed-container {
      left: auto;
      -webkit-transform: translateX(0);
              transform: translateX(0);
      top: auto;
      padding: 0;
      background-color: rgba(255, 255, 255, 0);
      bottom: 0;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease
  }
      .container.fixed-container.mobile-clicked {
        top: 0;
        background-color: rgba(255, 255, 255, 0.95);
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
      }
    }

.left-align {
  text-align: left;
}

.clearfix {
  clear: both;
  width: 0;
}

p {
  font-size: 17px;
  line-height: 22px;
  font-weight: 400;
  margin-bottom: 26px
}

@media (max-width: 750px) {

p {
    font-size: 16px
}
  }

@media (max-width: 750px) {

p {
    font-size: 15px
}
  }

main {
  padding-top: 71px
}

@media (max-width: 750px) {

main {
    padding-top: 42px
}
  }

.main-page-title {
  font-size: 40px;
  line-height: 44px;
  font-weight: 100;
  margin-bottom: 3px;
  margin-top: 27px;
}

.page-topic-header {
  font-size: 17px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

hr {
  height: 1px;
  width: 100%;
  border-top: 1px solid #979797;
  margin: 7% 0 4%;
}

.nomargin {
  margin: 0;
}

.portrait-subitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 20px;
}

.article-title {
  padding-top: 50px;
  font-size: 64px;
  font-weight: 700;
  line-height: 74px;
  margin-bottom: 1em;
  letter-spacing: 0.02em;
  text-align: center;
}

.article-title span {
    font-size: 36px;
  }

@media (max-width: 1000px) {

.article-title {
    font-size: 7.208vw;
    line-height: 8.2vw;
    margin-bottom: 2.17%
}
  }

@media (max-width: 750px) {

.article-title {
    font-size: 7vw;
    line-height: 8vw;
    max-width: 58.75vw;
    margin: 1vw auto 3.25vw
}
  }

@media (max-width: 400px) {

.article-title {
    font-size: 28px;
    line-height: 32px;
    max-width: 235px;
    margin: 4px auto 13px
}
  }

.narrow-container {
  max-width: 680px;
  margin: 0 auto 40px;
  overflow: hidden
}

@media (min-width: 1441px) {

.narrow-container {
    margin-bottom: 63px
}
  }

@media (max-width: 1440px) {

.narrow-container {
    margin-bottom: 4vw
}
  }

@media (max-width: 1000px) {

.narrow-container {
    max-width: 100%;
    padding: 0 3.912vw
}
  }

@media (max-width: 750px) {

.narrow-container {
    padding: 0 3.912vw
}
  }

@media (max-width: 400px) {

.narrow-container {
    margin-bottom: 16px
}
  }

.narrow-container h2 {
    font-size: 28px;
    line-height: 34px;
    font-weight: 500;
    margin: 0 0 11px;
  }

.narrow-container h3 {
    font-size: 22px;
    line-height: 27px;
    font-weight: 500;
    margin: 0 0 11px;
  }

.narrow-container h4 {
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    margin: 0 0 11px;
  }

.narrow-container h5 {
    font-weight: bold;
    margin: 0 0 11px;
  }

.narrow-container h5 {
    font-weight: 500;
    margin: 0 0 11px;
  }

.narrow-container p {
    line-height: 28px
  }

.narrow-container p.section-callout {
      font-size: 34px;
      line-height: 41px;
      font-weight: 300;
      border-top: 1px solid #979797;
      border-bottom: 1px solid #979797;
      padding: 15px 0;
      text-align: center;
      margin: 41px 0 33px;
      letter-spacing: -1px;
    }

.narrow-container img {
    margin-bottom: 25px;
    max-width: 100%;
    height: auto;
  }

.narrow-container .wp-block-image {
    margin-bottom: 25px;
  }

.narrow-container .wp-block-image img {
      margin-bottom: 0;
    }

.narrow-container figcaption {
    font-size: 13px;
    font-style: italic;
    color: #555;
  }

.narrow-container strong {
    font-weight: 700;
  }

/* blocks */

/* contains all blocks in one place so it only has to be maintained in one place for both front end and editor */

/* styling for the hero block goes in here */

.fc-hero {
  padding: 9.7% 0 6.5%;
  margin-bottom: 64px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400
}

@media (max-width: 750px) {

.fc-hero.my-faith-heading {
      height: auto;
  }
      .fc-hero.my-faith-heading .hero-upper-text {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin: auto;
      }
    }

.fc-hero.my-faith-heading .hero-title {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
    }

.fc-hero:first-of-type {
    padding: 8.7% 0
  }

@media (min-width: 1441px) {

.fc-hero:first-of-type {
      padding: 125px 0
  }
    }

@media (max-width: 750px) {

.fc-hero:first-of-type {
      padding: 30px 0 0
  }
    }

.fc-hero.my-faith-heading {
    padding: 8.7% 0 0
  }

@media (min-width: 1441px) {

.fc-hero.my-faith-heading {
      padding: 125px 0 0
  }
    }

@media (max-width: 750px) {

.fc-hero.my-faith-heading {
      padding: 30px 0 0
  }
    }

@media (min-width: 1441px) {

.fc-hero {
    padding: 139px 0 93px
}
  }

@media (max-width: 1440px) {

.fc-hero {
    margin-bottom: 4vw
}
  }

@media (max-width: 750px) {

.fc-hero {
    height: 440px;
    padding: 25px 0;
    box-sizing: border-box
}
  }

@media (max-width: 400px) {

.fc-hero {
    margin-bottom: 16px
}
  }

.fc-hero.text-right {
    text-align: right;
  }

.fc-hero.text-right p {
      float: right;
    }

@media (max-width: 750px) {

.fc-hero.text-right {
      text-align: center;
  }
      .fc-hero.text-right p {
        display: none;
      }
    }

.fc-hero.text-right .container {
      padding: 0 8.5%
    }

@media (min-width: 1441px) {
    .fc-hero.text-right .container {
        padding: 0 122px
    }
      }

@media (max-width: 1000px) {
    .fc-hero.text-right .container {
        padding: 0 10.5%
    }
      }

@media (max-width: 750px) {
    .fc-hero.text-right .container {
        padding: 0 10px;
        position: absolute;
        width: 100%;
        bottom: 25px
    }
      }

.fc-hero.text-left {
    text-align: left;
  }

.fc-hero.text-left p {
      float: none;
    }

@media (max-width: 750px) {

.fc-hero.text-left {
      text-align: center;
  }
      .fc-hero.text-left p {
        display: none;
      }
    }

.fc-hero.text-left .container {
      padding: 0 7%
    }

@media (max-width: 1000px) {
    .fc-hero.text-left .container {
        padding: 0 10.5%
    }
      }

@media (max-width: 750px) {
    .fc-hero.text-left .container {
        padding: 0 10px;
        position: absolute;
        width: 100%;
        bottom: 25px
    }
      }

.fc-hero.text-center {
    text-align: center;
  }

.fc-hero.text-center p {
      float: none;
      margin-left: auto;
      margin-right: auto
    }

@media (max-width: 750px) {
    .fc-hero.text-center p {
        display: none
    }
      }

.fc-hero.text-center .container {
      padding: 0 7%
    }

@media (max-width: 1000px) {
    .fc-hero.text-center .container {
        padding: 0 10.5%
    }
      }

@media (max-width: 750px) {
    .fc-hero.text-center .container {
        padding: 0 10px;
        position: absolute;
        width: 100%;
        bottom: 25px
    }
      }

@media (max-width: 750px) {

.fc-hero.no-image,
  .fc-hero.image-front {
      height: auto
  }
    }

.fc-hero.no-image .container, .fc-hero.image-front .container {
      display: -webkit-box;
      display: flex
    }

@media (max-width: 750px) {
    .fc-hero.no-image .container, .fc-hero.image-front .container {
        position: static
    }
      }

.fc-hero.no-image .hero-text-side, .fc-hero.image-front .hero-text-side {
      width: 100%;
      box-sizing: border-box;
    }

@media (max-width: 750px) {
    .fc-hero.no-image p, .fc-hero.image-front p {
        display: block;
        text-align: left;
        margin: 0 auto
    }
      }

.fc-hero.no-image .hero-image-side, .fc-hero.image-front .hero-image-side {
      width: 61%;
      box-sizing: border-box;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

.fc-hero.no-image.wider, .fc-hero.image-front.wider {
      padding: 4.5% 0 0%
    }

@media (max-width: 750px) {

.fc-hero.no-image.wider, .fc-hero.image-front.wider {
        padding: 4.5% 0 30px
    }
      }

.fc-hero.no-image.wider .container, .fc-hero.image-front.wider .container {
        padding: 0 10.5%
      }

@media (max-width: 750px) {
      .fc-hero.no-image.wider .container, .fc-hero.image-front.wider .container {
          padding: 0 20px
      }
        }

.fc-hero.no-image.wider p, .fc-hero.image-front.wider p {
        max-width: 680px;
        line-height: 28px;
      }

.fc-hero.no-image.wider .hero-title, .fc-hero.image-front.wider .hero-title {
        margin-bottom: 19px;
      }

.fc-hero.no-image {
    padding: 72px 0 0
  }

@media (max-width: 1440px) {

.fc-hero.no-image {
      padding-top: 5vw
  }
    }

.fc-hero.no-image .container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
    }

.fc-hero.no-image .hero-text-side {
      max-width: 540px;
      margin-top: 52px
    }

@media (max-width: 750px) {
    .fc-hero.no-image .hero-text-side {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0
    }
      }

.fc-hero.no-image .hero-text-side p {
        margin-bottom: 26px;
      }

.fc-hero.image-front {
    padding: 72px 0 30px;
  }

@media (max-width: 750px) {
    .fc-hero.image-front .hero-upper-text,
    .fc-hero.image-front .hero-title {
        text-align: center
    }
      }

@media (max-width: 1440px) {

.fc-hero.image-front {
      padding-top: 5vw
  }
    }

.fc-hero.image-front .hero-text-side {
      width: 39%;
      margin-top: 52px
    }

@media (max-width: 1000px) {
    .fc-hero.image-front .hero-text-side {
        margin-top: 0
    }
      }

@media (min-width: 751px) {
    .fc-hero.image-front .hero-text-side {
        min-height: 510px
    }
      }

@media (max-width: 750px) {
    .fc-hero.image-front .hero-text-side {
        width: 100%
    }
      }

.fc-hero.image-front .hero-text-side p {
        margin-bottom: 26px;
      }

.fc-hero.image-front .hero-image-side::before {
        content: "";
        display: block;
        padding-top: 64%;
        height: 0;
      }

@media (min-width: 751px) {
    .fc-hero.image-front .hero-image-side {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        right: 0px
    }
      }

@media (max-width: 750px) {
    .fc-hero.image-front .hero-image-side {
        width: auto;
        max-width: 450px;
        position: static;
        margin: 0 auto 25px
    }
      }

.fc-hero.image-front .container {
      padding: 0px 10.5%
    }

@media (min-width: 1441px) {
    .fc-hero.image-front .container {
        padding-left: 151px;
        padding-right: 151px
    }
      }

.fc-hero.overlay-green,
  .fc-hero.overlay-red {
    color: #fff;
  }

.fc-hero.overlay-white {
    color: #000;
  }

.fc-hero .hero-overlay-vertical,
  .fc-hero .hero-overlay-horizontal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.fc-hero .hero-upper-text {
    font-weight: 500;
  }

.fc-hero .hero-title {
    font-size: 72px;
    font-weight: 700;
    line-height: 82px;
    margin-bottom: 18px;
    letter-spacing: 0.02em;
  }

.fc-hero .hero-title span {
      font-size: 36px;
    }

@media (max-width: 1000px) {
  .fc-hero .hero-title {
      font-size: 7.208vw;
      line-height: 8.2vw;
      margin-bottom: 2.17%
  }
    }

@media (max-width: 750px) {
  .fc-hero .hero-title {
      font-size: 7vw;
      line-height: 8vw;
      max-width: 58.75vw;
      margin: 1vw auto 3.25vw
  }
    }

@media (max-width: 400px) {
  .fc-hero .hero-title {
      font-size: 28px;
      line-height: 32px;
      max-width: 235px;
      margin: 4px auto 13px
  }
    }

.fc-hero p {
    max-width: 450px
  }

@media (max-width: 1000px) {
  .fc-hero p {
      margin-bottom: 3.13%
  }
    }

.fc-hero .btn-orange {
    background-color: #cb5d46;
    color: #fff;
    padding: 7px 21px;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    border-radius: 3px;
    /*box-shadow:5px 5px 5px rgba(0,0,0,.25);*/
    border: 1px solid #cb5d46;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    display: inline-block
  }

@media (max-width: 750px) {
  .fc-hero .btn-orange {
      font-size: 16px
  }
    }

@media (max-width: 750px) {
  .fc-hero .btn-orange {
      font-size: 17px
  }
    }

.fc-hero .btn-orange:hover {
      color: #cb5d46;
      background-color: #fff;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }

.fc-hero .btn-link {
    color: #000;
    text-decoration: underline;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease
  }

.fc-hero .btn-link:hover {
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
      text-decoration: none;
    }

.fc-hero.wide-text-hero {
    padding: 8.7% 0 16.5%;
  }

.fc-hero.wide-text-hero .hero-title {
      margin-bottom: 0;
    }

.fc-hero.wide-text-hero p {
      max-width: 675px;
    }

@media (max-width: 750px) {

.fc-hero.wide-text-hero {
      text-align: left;
  }
      .fc-hero.wide-text-hero .hero-title {
        text-align: center;
        font-size: 56px;
        line-height: 54px;
        max-width: 250px;
        margin-bottom: 15px;
      }
        .fc-hero.wide-text-hero .hero-title span {
          font-size: 56px;
          line-height: 54px;
        }
      .fc-hero.wide-text-hero p {
        display: block;
      }
      .fc-hero.wide-text-hero .container {
        padding: 0px 20px;
      }
    }

.fc-post-slide-block {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.fc-post-slide-block a {
    text-decoration: none;
  }

.fc-post-slide-block.move-up {
    margin-top: -71px;
    position: relative
  }

@media (max-width: 750px) {

.fc-post-slide-block.move-up {
      margin-top: 0
  }
    }

.fc-post-slide-block .post-slide-title {
    text-align: center;
    font-size: 28px;
    line-height: 34px;
    font-weight: 500;
    margin: 0 0 11px;
    position: relative
  }

@media (max-width: 659px) {
  .fc-post-slide-block .post-slide-title {
      font-size: 4.25vw;
      line-height: 5vw
  }
    }

@media (max-width: 400px) {
  .fc-post-slide-block .post-slide-title {
      font-size: 17px;
      line-height: 20px
  }
    }

.fc-post-slide-block .title-view {
    font-size: 16px;
    line-height: 21px;
    position: absolute;
    right: 40px;
    bottom: 0;
    color: #000
  }

.fc-post-slide-block .title-view:hover {
      text-decoration: underline;
    }

@media (max-width: 750px) {
  .fc-post-slide-block .title-view {
      display: none
  }
    }

.fc-post-slide-block .post-slide-wrapper {
    position: relative;
    margin-bottom: 4.37vw;
    padding-bottom: 40px;
    overflow: auto;
    scroll-behavior: smooth
  }

@media (min-width: 1441px) {
  .fc-post-slide-block .post-slide-wrapper {
      margin-bottom: 63px
  }
    }

@media (max-width: 1440px) {
  .fc-post-slide-block .post-slide-wrapper {
      margin-bottom: 4vw
  }
    }

@media (max-width: 1000px) {
  .fc-post-slide-block .post-slide-wrapper {
      padding-bottom: 30px
  }
    }

@media (max-width: 750px) {
  .fc-post-slide-block .post-slide-wrapper {
      padding-bottom: 20px
  }
    }

@media (max-width: 400px) {
  .fc-post-slide-block .post-slide-wrapper {
      padding-bottom: 12px;
      margin-bottom: 16px
  }
    }

.fc-post-slide-block .post-slide-wrapper.center-slides {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: center;
              justify-content: center;
    }

.fc-post-slide-block .post-slide-wrapper.center-slides .post-slides {
        padding-left: 0;
      }

.fc-post-slide-block .post-slide-wrapper.center-slides .post-slides .endcap {
          width: 0;
        }

.fc-post-slide-block .post-slide-wrapper.center-slides + .post-more-button {
        display: none;
      }

.fc-post-slide-block .post-slides {
    display: -webkit-box;
    display: flex;
    padding-left: 40px
  }

@media (min-width: 1441px) {
  .fc-post-slide-block .post-slides {
      padding-left: calc(50vw - 680px);
  }
      .acf-block-preview .fc-post-slide-block .post-slides {
        padding-left: 40px;
      }
    }

@media (max-width: 1000px) {
  .fc-post-slide-block .post-slides {
      padding-left: 3.912vw
  }
    }

.fc-post-slide-block .post-slides .view-all-btn {
      min-width: 148px;
      min-height: 38px;
      line-height: 20px;
      box-sizing: border-box;
      padding: 9px;
      border-radius: 4px;
      color: #fff;
      background-color: #d8d8d8;
      text-align: center;
      -webkit-transition: background-color 0.2s ease;
      transition: background-color 0.2s ease
    }

.fc-post-slide-block .post-slides .view-all-btn:hover {
        background-color: #2e5d58;
      }

.fc-post-slide-block .post-slides .endcap {
      width: 80px;
      flex-shrink: 0;
    }

.fc-post-slide-block .post-slide {
    width: 411px;
    box-sizing: border-box;
    margin-right: 20px;
    color: #000;
    position: relative;
    flex-shrink: 0
  }

@media (max-width: 1000px) {
  .fc-post-slide-block .post-slide {
      width: 328px
  }
    }

@media (max-width: 750px) {
  .fc-post-slide-block .post-slide {
      width: 245px
  }
    }

@media (max-width: 400px) {
  .fc-post-slide-block .post-slide {
      width: 163px
  }
    }

.fc-post-slide-block .post-slide:hover .slide-title {
        text-decoration: underline;
      }

.fc-post-slide-block .post-slide.series-slide {
      width: 250px;
      margin-right: 40px;
    }

.fc-post-slide-block .post-slide.series-slide .slide-title {
        max-width: 215px;
      }

@media (max-width: 1000px) {
    .fc-post-slide-block .post-slide.series-slide {
        width: 221px
    }
      }

@media (max-width: 750px) {
    .fc-post-slide-block .post-slide.series-slide {
        width: 192px
    }
      }

@media (max-width: 750px) {
    .fc-post-slide-block .post-slide.series-slide {
        width: 164px
    }
      }

.fc-post-slide-block .post-slide.portrait-slide {
      width: 360px;
      margin-right: 10px
    }

@media (max-width: 1000px) {
    .fc-post-slide-block .post-slide.portrait-slide {
        width: 292px
    }
      }

@media (max-width: 750px) {
    .fc-post-slide-block .post-slide.portrait-slide {
        width: 224px
    }
      }

@media (max-width: 750px) {
    .fc-post-slide-block .post-slide.portrait-slide {
        width: 155px
    }
      }

.fc-post-slide-block .post-slide.portrait-slide .text-position {
        padding: 0 26px 10px;
      }

.fc-post-slide-block .post-slide.portrait-slide.shortened::before {
          content: "";
          display: block;
          /* padding-top: 132.555%; */
          height: 0
        }

@media (max-width: 750px) {
        .fc-post-slide-block .post-slide.portrait-slide.shortened::before {
            /* padding-top: 180%; */
        }
          }

.fc-post-slide-block .post-slide.resources {
      width: 289px;
      margin-right: 11px
    }

@media (max-width: 1000px) {
    .fc-post-slide-block .post-slide.resources {
        width: 247px
    }
      }

@media (max-width: 750px) {
    .fc-post-slide-block .post-slide.resources {
        width: 205px
    }
      }

@media (max-width: 750px) {
    .fc-post-slide-block .post-slide.resources {
        width: 164px
    }
      }

.fc-post-slide-block .post-slide.view-all {
      width: 148px;
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -webkit-box-pack: center;
              justify-content: center;
    }

.fc-post-slide-block .slide-image {
    background: no-repeat center/cover;
    margin-bottom: 8px;
    position: relative
  }

.fc-post-slide-block .slide-image::before {
      content: "";
      display: block;
      padding-top: 48.661%;
      height: 0;
    }

.fc-post-slide-block .slide-image.video-icon::after,
    .fc-post-slide-block .slide-image.reading-icon::after,
    .fc-post-slide-block .slide-image.mic-icon::after,
    .fc-post-slide-block .slide-image.download-icon::after,
    .fc-post-slide-block .slide-image.share-icon::after {
      content: "";
      width: 44px;
      height: 40px;
      background: no-repeat center/contain;
      position: absolute;
      left: 0;
      bottom: 20px
    }

@media (max-width: 1000px) {
    .fc-post-slide-block .slide-image.video-icon::after,
    .fc-post-slide-block .slide-image.reading-icon::after,
    .fc-post-slide-block .slide-image.mic-icon::after,
    .fc-post-slide-block .slide-image.download-icon::after,
    .fc-post-slide-block .slide-image.share-icon::after {
        bottom: 10px;
        width: 39px;
        height: 35px
    }
      }

@media (max-width: 400px) {
    .fc-post-slide-block .slide-image.video-icon::after,
    .fc-post-slide-block .slide-image.reading-icon::after,
    .fc-post-slide-block .slide-image.mic-icon::after,
    .fc-post-slide-block .slide-image.download-icon::after,
    .fc-post-slide-block .slide-image.share-icon::after {
        bottom: 2px;
        width: 30px;
        height: 28px
    }
      }

.fc-post-slide-block .slide-image.video-icon::after {
      background-image: url(./img/tab-film.svg);
    }

.fc-post-slide-block .slide-image.reading-icon::after {
      background-image: url(./img/tab-reading.svg);
    }

.fc-post-slide-block .slide-image.mic-icon::after {
      background-image: url(./img/tab-mic.svg);
    }

.fc-post-slide-block .slide-image.download-icon::after {
      background-image: url(./img/tab-download.svg);
    }

.fc-post-slide-block .slide-image.share-icon::after {
      background-image: url(./img/tab-sharable.svg);
    }

.fc-post-slide-block .slide-image.series-image {
      width: 100%;
      border-radius: 50%;
      margin: 0 auto 23px
    }

.fc-post-slide-block .slide-image.series-image::before {
        content: "";
        display: block;
        padding-top: 100%;
        height: 0;
      }

@media (max-width: 750px) {
    .fc-post-slide-block .slide-image.series-image {
        margin-bottom: 3.066vw
    }
      }

.fc-post-slide-block .slide-image.sharables-image::before, .fc-post-slide-block .slide-image.resources-image::before {
        content: "";
        display: block;
        padding-top: 100%;
        height: 0;
      }

.fc-post-slide-block .slide-image.portrait-image {
      margin-bottom: 0
    }

.fc-post-slide-block .slide-image.portrait-image::before {
        content: "";
        display: block;
        padding-top: 180.555%;
        height: 0;
      }

.fc-post-slide-block .slide-title {
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    max-width: 300px;
    margin: 0 auto
  }

@media (max-width: 1000px) {
  .fc-post-slide-block .slide-title {
      font-size: 15px;
      line-height: 20px
  }
    }

@media (max-width: 750px) {
  .fc-post-slide-block .slide-title {
      font-size: 14px;
      line-height: 19px
  }
    }

@media (max-width: 400px) {
  .fc-post-slide-block .slide-title {
      font-size: 13px;
      line-height: 18px;
      text-align: left
  }
    }

.fc-post-slide-block .slide-name {
    font-size: 28px;
    line-height: 34px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 13px
  }

@media (max-width: 659px) {
  .fc-post-slide-block .slide-name {
      font-size: 4.25vw;
      line-height: 5vw
  }
    }

@media (max-width: 400px) {
  .fc-post-slide-block .slide-name {
      font-size: 17px;
      line-height: 20px
  }
    }

.fc-post-slide-block .slide-description {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    text-align: left
  }

@media (max-width: 750px) {
  .fc-post-slide-block .slide-description {
      display: none
  }
    }

.fc-post-slide-block .text-position {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0 20px 10px;
    box-sizing: border-box;
    text-align: center;
  }

.fc-post-slide-block .text-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto 5px;
    max-width: 100%;
  }

.fc-post-slide-block .slide-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.fc-post-slide-block .sharable-block .post-slide-wrapper {
      padding-bottom: 16px;
      margin-bottom: 43px;
    }

.fc-post-slide-block .post-more-button {
    position: absolute;
    right: 0;
    top: 45px;
    width: 100px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    opacity: 0;
    cursor: pointer
  }

.fc-post-slide-block .post-more-button:after {
      content: "";
      width: 20px;
      height: 40px;
      background: url(./img/post-next.svg) center no-repeat;
      background-size: contain;
      top: 80px;
      left: 40px;
      position: absolute;
    }

@media (max-width: 1000px) {
  .fc-post-slide-block .post-more-button {
      height: 159px;
      width: 75px
  }
      .fc-post-slide-block .post-more-button:after {
        top: 60px;
        left: 27px;
      }
    }

@media (max-width: 750px) {
  .fc-post-slide-block .post-more-button {
      height: 119px;
      width: 60px
  }
      .fc-post-slide-block .post-more-button:after {
        top: 40px;
        left: 20px;
      }
    }

.fc-post-slide-block.series-block .post-more-button {
      height: 250px
    }

.fc-post-slide-block.series-block .post-more-button:after {
        content: "";
        top: 105px;
      }

@media (max-width: 1000px) {
    .fc-post-slide-block.series-block .post-more-button {
        height: 221px
    }
        .fc-post-slide-block.series-block .post-more-button:after {
          content: "";
          top: 90px;
        }
      }

@media (max-width: 750px) {
    .fc-post-slide-block.series-block .post-more-button {
        height: 164px
    }
        .fc-post-slide-block.series-block .post-more-button:after {
          content: "";
          top: 62px;
        }
      }

.fc-post-slide-block.resources-block .post-more-button {
      height: 289px
    }

.fc-post-slide-block.resources-block .post-more-button:after {
        content: "";
        top: 124px;
      }

@media (max-width: 1000px) {
    .fc-post-slide-block.resources-block .post-more-button {
        height: 247px
    }
        .fc-post-slide-block.resources-block .post-more-button:after {
          content: "";
          top: 103px;
        }
      }

@media (max-width: 750px) {
    .fc-post-slide-block.resources-block .post-more-button {
        height: 205px
    }
        .fc-post-slide-block.resources-block .post-more-button:after {
          content: "";
          top: 82px;
        }
      }

@media (max-width: 750px) {
    .fc-post-slide-block.resources-block .post-more-button {
        height: 164px
    }
        .fc-post-slide-block.resources-block .post-more-button:after {
          content: "";
          top: 72px;
        }
      }

.fc-post-slide-block.sharable-block .post-more-button {
      height: 411px
    }

.fc-post-slide-block.sharable-block .post-more-button:after {
        content: "";
        top: 185px;
      }

@media (max-width: 1000px) {
    .fc-post-slide-block.sharable-block .post-more-button {
        height: 328px
    }
        .fc-post-slide-block.sharable-block .post-more-button:after {
          content: "";
          top: 144px;
        }
      }

@media (max-width: 750px) {
    .fc-post-slide-block.sharable-block .post-more-button {
        height: 245px
    }
        .fc-post-slide-block.sharable-block .post-more-button:after {
          content: "";
          top: 102px;
        }
      }

.fc-post-slide-block:hover .post-more-button {
      opacity: 1;
    }

/* This class controls what elements have the new fancy scrollbar CSS */

.fc-post-slide-block .layout-scrollbar {
    scrollbar-color: #7b2544 #cdb8b8;
  }

.fc-post-slide-block .layout-scrollbar::-webkit-scrollbar {
    height: 8px;
    width: 15px
  }

@media (max-width: 750px) {
  .fc-post-slide-block .layout-scrollbar::-webkit-scrollbar {
      height: 6px
  }
    }

@media (max-width: 400px) {
  .fc-post-slide-block .layout-scrollbar::-webkit-scrollbar {
      height: 4px
  }
    }

.fc-post-slide-block .layout-scrollbar::-webkit-scrollbar-track {
    background-color: #cdb8b8;
    border-radius: 4px;
    margin-left: calc(50vw - 340px);
    margin-right: calc(50vw - 340px);
  }

@media (max-width: 750px) {
    .fc-post-slide-block .layout-scrollbar::-webkit-scrollbar-track {
      margin-left: 3.912vw;
      margin-right: 3.912vw;
    }
  }

.fc-post-slide-block .layout-scrollbar::-webkit-scrollbar-thumb {
    background-color: #7b2544;
    border-radius: 4px
  }

@media (max-width: 750px) {
  .fc-post-slide-block .layout-scrollbar::-webkit-scrollbar-thumb {
      border-radius: 3px
  }
    }

@media (max-width: 400px) {
  .fc-post-slide-block .layout-scrollbar::-webkit-scrollbar-thumb {
      border-radius: 2px
  }
    }

.fc-post-slide-block .layout-scrollbar::-webkit-scrollbar-thumb:active {
    background-color: rgba(123, 37, 68, 0.7);
  }

.fc-post-slide-block .layout-scrollbar::-webkit-scrollbar-thumb:vertical {
    min-height: 1.5rem;
  }

.fc-post-slide-block .layout-scrollbar::-webkit-scrollbar-thumb:horizontal {
    min-width: 1.5rem;
  }

.faithcounts-page-title-light-block .main-page-title {
    font-size: 40px;
    line-height: 44px;
    font-weight: 100;
    margin-bottom: 3px;
    margin-top: 27px;
  }

.faithcounts-page-title-light-block .fourth {
    max-width: 341px;
  }

.faithcounts-video-hero-block #video-hero {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 31px 0 29px;
    position: relative;
    display: block;
  }

.faithcounts-video-hero-block #video-hero .spacer {
      padding-top: 56.73%;
    }

.faithcounts-video-hero-block #video-hero:after {
      content: "";
      width: 178px;
      height: 178px;
      background-image: url(./img/play-btn.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -89px;
      margin-left: -89px;
    }

#popup-body main {
    padding: 0;
  }

.fc-logos-block {
  text-align: center;
}

.fc-logos-block .post-slide-title {
    text-align: center;
    font-size: 28px;
    line-height: 34px;
    font-weight: 700;
    margin: 30px 0 15px
  }

@media (max-width: 659px) {
  .fc-logos-block .post-slide-title {
      font-size: 4.25vw;
      line-height: 5vw
  }
    }

@media (max-width: 400px) {
  .fc-logos-block .post-slide-title {
      font-size: 17px;
      line-height: 20px
  }
    }

.fc-logos-block .block-logos {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
            justify-content: center;
    margin-bottom: 21px;
  }

.fc-logos-block .block-logo {
    width: 30%;
    margin-top: 5%;
    margin-right: 2.33%;
    margin-bottom: 5%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    padding: 20px;
    box-sizing: border-box;
  }

.fc-logos-block .block-logo img {
      max-width: 100%;
    }

.fc-contact-cta {
  background-color: rgba(232, 249, 247, 0.5);
  font-family: "Montserrat", sans-serif;
  padding: 60px 0 65px;
  margin-bottom: 75px
}

@media (max-width: 750px) {

.fc-contact-cta {
    padding: 30px 0;
    margin-bottom: 60px
}
  }

.fc-contact-cta .container {
    display: -webkit-box;
    display: flex;
    max-width: 770px
  }

@media (max-width: 750px) {
  .fc-contact-cta .container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column
  }
    }

.fc-contact-cta .headshot-image {
    width: 200px;
    height: 200px;
    margin-right: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%
  }

@media (max-width: 750px) {
  .fc-contact-cta .headshot-image {
      margin-bottom: 20px
  }
    }

.fc-contact-cta .cta-text {
    width: calc(100% - 230px);
    max-width: 380px
  }

@media (max-width: 750px) {
  .fc-contact-cta .cta-text {
      width: 100%
  }
    }

.fc-contact-cta .cta-text a {
      color: #000;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease
    }

.fc-contact-cta .cta-text a:hover {
        text-decoration: underline;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
      }

.fc-contact-cta .cta-text p {
      margin-bottom: 11px;
    }

.fc-contact-cta .post-slide-title {
    font-size: 28px;
    line-height: 34px;
    font-weight: 500;
    margin: 0 0 15px
  }

@media (max-width: 659px) {
  .fc-contact-cta .post-slide-title {
      font-size: 4.25vw;
      line-height: 5vw
  }
    }

@media (max-width: 400px) {
  .fc-contact-cta .post-slide-title {
      font-size: 17px;
      line-height: 20px
  }
    }

.fc-form .frm_fields_container {
    display: -webkit-box;
    display: flex;
    position: relative;
  }

.fc-form .frm_fields_container .frm_form_field {
      margin-bottom: 13px;
    }

@media (max-width: calc(400px + 200px)) {
  .fc-form .frm_fields_container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column
  }
    }

.fc-form .frm_button_submit {
    padding: 6px 20px;
    background-color: #979797;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    border-radius: 3px;
    border: 1px solid #979797;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    color: #fff;
    text-align: center;
    float: right;
    margin-top: 20px;
    cursor: pointer
  }

.fc-form .frm_button_submit:hover {
      color: #979797;
      background-color: #fff;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }

.fc-form .narrow-container {
    max-width: 680px;
    margin: 0 auto 40px
  }

@media (max-width: 1000px) {
  .fc-form .narrow-container {
      max-width: 100%;
      padding: 0 10.5%
  }
    }

@media (max-width: 750px) {
  .fc-form .narrow-container {
      padding: 0 20px
  }
    }

.fc-form .narrow-container p {
      line-height: 28px
    }

.fc-form .narrow-container p.section-callout {
        font-size: 34px;
        line-height: 41px;
        font-weight: 300;
        border-top: 1px solid #979797;
        border-bottom: 1px solid #979797;
        padding: 15px 0;
        text-align: center;
        margin: 41px 0 33px;
        letter-spacing: -1px;
      }

.fc-form .narrow-container img {
      margin-bottom: 25px;
    }

.fc-form .narrow-container strong {
      font-weight: 700;
    }

.fc-form .icon-circle {
    width: 190px;
    height: 190px;
    display: -webkit-box;
    display: flex;
    margin-left: 72px;
    border-radius: 50%;
    background-color: #ededed;
    -webkit-box-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
            align-items: center;
    margin-bottom: 36px
  }

@media (max-width: 750px) {
  .fc-form .icon-circle {
      margin: 0 auto 36px
  }
    }

.fc-form .icon-circle .contact-icon {
      width: 96px;
      height: 76px;
    }

.fc-form p {
    color: #999999;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 16px;
  }

.fc-form form {
    display: -webkit-box;
    display: flex
  }

@media (max-width: 750px) {
  .fc-form form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column
  }
    }

.fc-form form .input-wrapper {
      margin-bottom: 13px;
      position: relative;
    }

.fc-form form label {
      font-size: 17px;
      line-height: 28px;
      font-weight: 700;
      display: block;
    }

.fc-form form input,
    .fc-form form textarea {
      box-sizing: border-box;
      width: 100%;
      padding: 16px 20px;
      border-radius: 20px;
      background-color: #ededed;
      border: 0;
      color: #000
    }

.fc-form form input::-webkit-input-placeholder, .fc-form form textarea::-webkit-input-placeholder {
        font-size: 12px;
        line-height: 16px;
        color: #999999;
      }

.fc-form form input::-moz-placeholder, .fc-form form textarea::-moz-placeholder {
        font-size: 12px;
        line-height: 16px;
        color: #999999;
      }

.fc-form form input:-ms-input-placeholder, .fc-form form textarea:-ms-input-placeholder {
        font-size: 12px;
        line-height: 16px;
        color: #999999;
      }

.fc-form form input::-ms-input-placeholder, .fc-form form textarea::-ms-input-placeholder {
        font-size: 12px;
        line-height: 16px;
        color: #999999;
      }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
        font-size: 12px;
        line-height: 16px;
        color: #999999;
      }

input::-moz-placeholder, textarea::-moz-placeholder {
        font-size: 12px;
        line-height: 16px;
        color: #999999;
      }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
        font-size: 12px;
        line-height: 16px;
        color: #999999;
      }

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
        font-size: 12px;
        line-height: 16px;
        color: #999999;
      }

.fc-form form input::placeholder, .fc-form form textarea::placeholder {
        font-size: 12px;
        line-height: 16px;
        color: #999999;
      }

.fc-form form textarea {
      height: 212px;
    }

.fc-form .left-side,
  .fc-form .right-side {
    width: 50%;
    box-sizing: border-box
  }

@media (max-width: 750px) {
  .fc-form .left-side,
  .fc-form .right-side {
      width: 100%
  }
    }

.fc-form .left-side {
    padding-right: 10px
  }

@media (max-width: 750px) {
  .fc-form .left-side {
      padding-right: 5px
  }
    }

.fc-form .right-side {
    padding-left: 25px
  }

@media (max-width: 750px) {
  .fc-form .right-side {
      padding-left: 5px
  }
    }

.fc-form .right-side .input-wrapper {
      margin-bottom: 20px;
    }

.fc-form .left-side,
  .fc-form .right-side {
    max-width: 416px;
    margin: auto
  }

@media (max-width: calc(400px + 200px)) {
  .fc-form .left-side,
  .fc-form .right-side {
      padding-right: 0;
      padding-left: 0
  }
    }

.fc-form .form-instagram {
    position: relative
  }

.fc-form .form-instagram:before {
      content: "";
      width: 40px;
      height: 40px;
      position: absolute;
      left: 0;
      bottom: 0;
      background: url(./img/form-instagram.svg) center no-repeat;
      background-size: contain;
    }

.fc-form .form-instagram input {
      margin-left: 50px;
      width: calc(100% - 50px);
    }

.fc-form .form-facebook {
    position: relative
  }

.fc-form .form-facebook:before {
      content: "";
      width: 40px;
      height: 40px;
      position: absolute;
      left: 0;
      bottom: 0;
      background: url(./img/form-facebook.svg) center no-repeat;
      background-size: contain;
    }

.fc-form .form-facebook input {
      margin-left: 50px;
      width: calc(100% - 50px);
    }

.fc-form .form-twitter {
    position: relative
  }

.fc-form .form-twitter:before {
      content: "";
      width: 40px;
      height: 40px;
      position: absolute;
      left: 0;
      bottom: 0;
      background: url(./img/form-twitter.svg) center no-repeat;
      background-size: contain;
    }

.fc-form .form-twitter input {
      margin-left: 50px;
      width: calc(100% - 50px);
    }

.fc-form .form-pinterest {
    position: relative
  }

.fc-form .form-pinterest:before {
      content: "";
      width: 40px;
      height: 40px;
      position: absolute;
      left: 0;
      bottom: 0;
      background: url(./img/form-pinterest.svg) center no-repeat;
      background-size: contain;
    }

.fc-form .form-pinterest input {
      margin-left: 50px;
      width: calc(100% - 50px);
    }

/* below are overrides and wordpress specific code to help blocks work better in the editor */

.wp-block {
  max-width: 1440px;
}

.wp-block[data-align="wide"] {
  max-width: 1440px;
}

.acf-block-preview {
  font: 400 16px/21px "Montserrat", sans-serif;
}

.container div,
  .container span,
  .container object,
  .container iframe,
  .container h1,
  .container h2,
  .container h3,
  .container h4,
  .container h5,
  .container h6,
  .container p,
  .container blockquote,
  .container pre,
  .container abbr,
  .container address,
  .container cite,
  .container code,
  .container del,
  .container dfn,
  .container em,
  .container img,
  .container ins,
  .container kbd,
  .container q,
  .container samp,
  .container small,
  .container strong,
  .container sub,
  .container sup,
  .container var,
  .container b,
  .container i,
  .container dl,
  .container dt,
  .container dd,
  .container ol,
  .container ul,
  .container li,
  .container fieldset,
  .container form,
  .container label,
  .container legend,
  .container table,
  .container caption,
  .container tbody,
  .container tfoot,
  .container thead,
  .container tr,
  .container th,
  .container td,
  .container article,
  .container aside,
  .container canvas,
  .container details,
  .container figcaption,
  .container figure,
  .container footer,
  .container header,
  .container hgroup,
  .container menu,
  .container nav,
  .container section,
  .container summary,
  .container time,
  .container mark,
  .container audio,
  .container video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
  }

